a{                         /*general*/
    text-decoration: none;

}

ul{
    list-style: none;
}

header nav{                 /* NAV */
    background-color: #2C3E50 !important;
}

.nav-link{
    color: white;
}

.hero{                     /*HERO*/
    background-color: #1ABC9C; 
    margin-top: 3rem;   
}

.hero img{                          
    width: 150px;
    display: inline-block;
}

.hero a{
    color: white;
}

.hero .after{                        /*HERO STELLINA */
    position: relative;
}
.hero .after::after{
    content: "";
    height: 3px;
    background-color: white;
    width: 10%;
    position: absolute;
    left: 37%;
    top: 50%;
}

.hero .after::before{
    content: "";
    height: 3px;
    background-color: white;
    width: 10%;
    position: absolute;
    left: 53%;
    top: 50%;
}                                     /*FINE HERO STELLINA*/




.portfolio .contents img{         /*PORTFOLIO*/    
    width: 100%;
}


.portfolio .after{                        /*PORTFOLIO STELLINA */
    position: relative;
}
.portfolio .after::after{
    content: "";
    height: 3px;
    background-color: black;
    width: 10%;
    position: absolute;
    left: 37%;
    top: 50%;
}

.portfolio .after::before{
    content: "";
    height: 3px;
    background-color: black;
    width: 10%;
    position: absolute;
    left: 53%;
    top: 50%;
}                                     /*FINE PORTFOLIO STELLINA*/

@media (max-width: 575px) {

    .portfolio .contents img {                  /*PORTFOLIO*/
        width: 100%;
        display: inline-block;
    }
}

.about{                                /*ABOUT*/
    background-color: #1ABC9C;
}

.about .after{                        /* ABOUT STELLINA */
    position: relative;
}
.about .after::after{
    content: "";
    height: 3px;
    background-color: white;
    width: 10%;
    position: absolute;
    left: 37%;
    top: 50%;
}

.about .after::before{
    content: "";
    height: 3px;
    background-color: white;
    width: 10%;
    position: absolute;
    left: 53%;
    top: 50%;
}                                     /*FINE ABOUT STELLINA*/


.contact .after{                        /* CONTACT STELLINA */
    position: relative;
}
.contact .after::after{
    content: "";
    height: 3px;
    background-color: black;
    width: 14%;
    position: absolute;
    left: 32%;
    top: 50%;
}

.contact .after::before{
    content: "";
    height: 3px;
    background-color: black;
    width: 14%;
    position: absolute;
    left: 54%;
    top: 50%;
}                                /*FINE CONTACT STELLINA*/
    

.contact form input, textarea{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
}

.contact form textarea{
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    height: 200px;
}

.contact form .btn{
    background-color: #1ABC9C;
    border-color: #1ABC9C;
}

                           /*FOOTER*/
.about{                                 
    background-color: #3A546D;
}

    




